<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12 mr-auto ml-auto">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">
            Shopify Integration
          </h3>
          <div class="text-center">
            <img src="assets/img/integrations/shopify.png" class="integration-image" />
          </div>
          <h5 class="card-description">This integration lets you integrate Koraki to your Shopify store. Shopify integration generates Koraki notifications
            on customer signup and order place events. Furthermore it has live analytics feature to show live and aggregated
            analytical notifications.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="card-body" [ngClass]="{'loading':loading}">
          <div *ngIf="!integrated">
            <p *ngIf="!knownStore && knownApp">
              Click
              <b>Shopify App Store</b> button to visit Shopify apps page.
              <br/>
              <small>You will be redirected to Shopify apps page and will be asked to log in to your Shopify store.</small>
            </p>
            <p *ngIf="knownStore && !knownApp">
              Please select a Koraki app to integrate with
              <b>{{store}}</b> and click
              <b>Connect</b> button
            </p>
            <p *ngIf="knownStore && knownApp">
              Click
              <b>Connect</b> button integrate
              <b>{{store}}</b> to
              <b>{{appName}}</b> Koraki app
            </p>
            <div class="row">
              <!-- <div class="col-md-6 col-sm-12" *ngIf="!knownStore">
                <mat-form-field floatLabel="never">
                  <input type="text" placeholder="https://mystorename.myshopify.com" [(ngModel)]="store" matInput #storeId/>
                </mat-form-field>
              </div> -->

              <div class="col-md-6 col-sm-12" *ngIf="!knownApp">
                <mat-form-field>
                  <mat-select placeholder="Select your Koraki app" [(ngModel)]="appId">
                    <mat-option value="0">
                      Create new
                    </mat-option>
                    <mat-option *ngFor="let a of applicationList" [value]="a.id">
                      {{a.applicationName}} ({{a.url}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6 col-sm-12">
                <a *ngIf="knownStore" [disabled]="subscribeClicked" href="#" mat-raised-button class="btn btn-facebook" onclick="return false" (click)="subscribe()">
                  Connect
                </a>
                <a *ngIf="!knownStore" href="#" onclick="return false" (click)="forwardToShopify()">
                  <img src="https://koraki-static.s3.ap-southeast-1.amazonaws.com/static.koraki.io/Shopify-App-Store-Badge-Final-White.png" height="40px" />
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="integrated">
            <p>Shopify store
              <a href="https://{{configurations['shopify_shop_url']}}" target="_blank">{{configurations['shopify_shop_url']}}</a> is successfully integrated
            </p>
            <a href="#" mat-raised-button class="btn" onclick="return false" (click)="disconnect()">
              Disconnect
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>