<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-8 mr-auto ml-auto">
      <div class="card ">
        <div class="card-header text-center">
          <h3 class="card-title">
            {{application.applicationName}}
          </h3>
          <h5 class="card-description">{{application.url}}</h5>
        </div>
        <div class="card-body ">
          <ul class="nav nav-pills nav-pills-warning justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                Details
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                Integrations
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                Analytics
              </a>
            </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane active row" id="link1">


              <!-- <div class="row justify-content-center"> -->
              <div class="col-sm-12">


                <!-- <p>
                  <mat-form-field appearance="outline" hintLabel="Access token of the application" class="example-full-width has-label">
                    <mat-label>Token</mat-label>
                    <textarea readonly rows=6 matInput [(ngModel)]="application.token"></textarea>
                  </mat-form-field>
                </p> -->

                <p>
                  <mat-form-field appearance="outline" hintLabel="Client id or the app key" class="example-full-width has-label">
                    <mat-label>Client Id</mat-label>
                    <input type="text" [(ngModel)]="application.clientId" matInput readonly>
                  </mat-form-field>
                </p>

                <p>
                  <mat-form-field appearance="outline" hintLabel="Click on eye icon to see the client secret">
                    <mat-label>Secret</mat-label>
                    <input matInput readonly [(ngModel)]="application.clientSecret" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                </p>

              </div>
              <!-- </div> -->

            </div>
            <div class="tab-pane" id="link2">

              <p>You can copy/paste following code snippet into your website. Otherwise you can use one or more of the following
                integrations to add Koraki to your site</p>

              <mat-form-field appearance="outline" hintLabel="Learn how to add this script to your website" class="example-full-width">
                <textarea readonly rows=5 matInput>{{script}}</textarea>
              </mat-form-field>


              <div class="row">
                <div class="col-md-6" *ngFor="let app of [{}, {}]">
                  <div class="card card-chart">
                    <div class="card-body">
                      <h3 class="card-title">OpenCart 2.x</h3>
                      <p>Module contains notification widget. This module can be installed from OpenCart admin panel</p>
                      <p>This integration can Read and Write notifications</p>
                      <a mat-raised-button class="btn btn-twitter" routerLink="/applications/view/{{app.id}}">Download</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link3">
              <div class="row">


                <div class="col-md-12 mr-auto">
                  <legend>Status is {{status?'Active':'Deactivated'}}</legend>
                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" [(ngModel)]="status" (change)="updateApplicationStatus()">
                      <span class="toggle"></span>
                      No notifications will be displayed if the application is deactivated
                    </label>
                  </div>
                </div>

                <div class="card col-md-12 mr-auto">
                  <legend></legend>
                  <div class="togglebutton">
                    <label>
                      <a mat-raised-button class="btn btn-danger" href="#" onclick="return false" (click)="deleteApplication()">Delete Application</a>
                    </label>
                  </div>
                </div>


              </div>
            </div>
            <div class="tab-pane" id="link4">
              Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
              service with robust ideas.
              <br />
              <br />Dynamically innovate resource-leveling customer service for state of the art customer service.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>