<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12 col-sm-12 mr-auto ml-auto">
      <div class="card ">
        <div id="session-count" *ngIf="application.uniqueVisitors" title="Unique user sessions are updated every hour">
          <div id="session-count-bar" [style.width.%]="sessions"></div>
          <span>{{!application.uniqueVisitors ? "0" : application.uniqueVisitors}}/{{allowedSessionCount > 90000 ? "∞" : allowedSessionCount}}
            user sessions
            <a *ngIf="allowedSessionCount < 90000" class="pull-right d-none d-md-block" routerLink="/subscription/add">Upgrade</a>
          </span>
        </div>
        <div class="card-header">
          <div class="pull-right app-notify-status" *ngIf="!loading && application.status!='Active'">
            <i class="material-icons" style="vertical-align: middle;">warning</i> Not Active
          </div>
          <div class="pull-right app-notify-count d-none d-md-block" *ngIf="!loading && application.status=='Active'">
            {{application.activeNotificationsCount==0?'No':application.activeNotificationsCount}} Active notifications
          </div>
          <h3 class="card-title" *ngIf="application.applicationName">
            <span *ngIf="!nameEditing">{{application.applicationName}}</span>
            <span *ngIf="nameEditing">
              <form (submit)="updateName($event)">
                <input type="text" id="update_name" name="update_name" [readonly]="updatingSettings" #nameInput matInput [(ngModel)]="updated.name"
                />
              </form>
              {{nameInput.focus()}}
            </span>
            <a title="Edit application name" href="#" *ngIf="!nameEditing" onclick="return false;" (click)="nameEditing = true; updated.name = application.applicationName">
              <i class="material-icons">edit</i>
            </a>
            <a title="Save changes" *ngIf="nameEditing" href="#" onclick="return false" (click)="updateName()">
              <i class="material-icons">save</i>
            </a>
            <a title="Discard changes" *ngIf="nameEditing" href="#" onclick="return false" (click)="nameEditing = false">
              <i class="material-icons">cancel</i>
            </a>
          </h3>

          <h5 *ngIf="!nameEditing" class="card-description">{{application.url}}</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="card-body" [ngClass]="{'loading':loading}">

          <mat-tab-group [(selectedIndex)]="selectedTab" disableRipple="true" color="primary" class="md-no-animation" [@.disabled]="true"
            dynamicHeight="false">
            <mat-tab label="Details">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <mat-form-field appearance="outline" hintLabel="Client id or the app key" class="example-full-width has-label">
                      <mat-label>Client Id</mat-label>
                      <input type="text" [(ngModel)]="application.clientId" matInput readonly>
                    </mat-form-field>
                  </p>

                  <p>
                    <mat-form-field appearance="outline" hintLabel="Click on eye icon to see the client secret">
                      <mat-label>Secret</mat-label>
                      <input (click)="hide = false" matInput readonly [(ngModel)]="application.clientSecret" [type]="hide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                  </p>
                  <button (click)="setTab(1)" mat-raised-button class="btn btn-primary">
                      Next step : Get the widget code
                    </button>
                </div>
                <div class="col-md-6">
                  <iframe width="400" height="270" src="https://www.youtube.com/embed/0KETlEn-8mw?start=44" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Integrations">
              <p>You can copy/paste following code snippet into your website. Otherwise you can use one or more of the following
                integrations to add Koraki to your site.
                <a target="_blank" href='https://docs.koraki.io/project/getting-started/adding-koraki-to-a-site'>Learn how to add this script to your website</a>
              </p>

              <mat-form-field appearance="outline" class="example-full-width">
                <textarea readonly rows=5 matInput>{{script}}</textarea>
              </mat-form-field>

              <div class="row">
                <div class="divider"></div>
                <div class="col-md-12">
                  <input type="text" placeholder="Search for an integration: ex., OpenCart" [(ngModel)]="filter" (change)="filterList()" class="form-control form-control-lg"
                  />
                </div>
                <div class="col-md-4" *ngFor="let i of allIntegrations">
                  <div class="card card-chart" [ngClass]="{'disabled-integration' : !i.ecommerce && !allowedIntegrations[i.code]}">
                    <div class="card-body integration-card">
                      <h4 class="card-title">{{i.title}}</h4>
                      <div class="integration-images">
                        <img [src]="'/assets/img/integrations/' + i.code + '.png'" />
                      </div>
                      <div class="pull-right app-notify-count" *ngIf="integrations[i.code]">
                        Integrated
                      </div>
                      <p [innerHTML]="i.description"></p>
                      <!-- <p [innerHTML]="i.capable"></p> -->
                    </div>
                    <div class="card-footer">
                      <div *ngIf="!integrations[i.code]">
                        <a mat-raised-button class="btn" routerLink="/subscription/add" *ngIf="!i.ecommerce && !allowedIntegrations[i.code]">Upgrade</a>
                        <a mat-raised-button *ngIf="i.ecommerce || allowedIntegrations[i.code]" class="btn btn-twitter" routerLink="/applications/view/{{application.id}}/integrations/{{i.code}}">{{i.buttonTitle}}</a>
                        <a mat-raised-button *ngIf="i.help" href="{{i.help}}" target="_blank" class="btn btn-link pull-right">Samples</a>
                      </div>
                      <div *ngIf="integrations[i.code]">
                        <a mat-raised-button class="btn" routerLink="/subscription/add" *ngIf="!i.ecommerce && !allowedIntegrations[i.code]">Upgrade</a>
                        <a mat-raised-button *ngIf="i.ecommerce || allowedIntegrations[i.code]" class="btn btn-warning" routerLink="/applications/view/{{application.id}}/integrations/{{i.code}}">Manage</a>
                        <a mat-raised-button *ngIf="i.help" href="{{i.help}}" target="_blank" class="btn btn-link pull-right">Samples</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="Notifications">
              <app-notifications-view [appId]="appId"></app-notifications-view>
            </mat-tab>
            <mat-tab label="Customize">
              <div class="row">

                <div class="col-md-6 mr-auto">
                  <h3>Customize the look of your notification widget. This is how it will appear on your website</h3>
                  <app-notification-preview [appId]="appId" [configs]="configs"></app-notification-preview>
                </div>
                <div class="col-md-6 mr-auto customization-settings">
                  <div>
                    <input [(colorPicker)]="configs.notification_bg_color" [style.background]="configs.notification_bg_color" /> Notification background color
                  </div>
                  <div>
                    <input [(colorPicker)]="configs.notification_text_color" [style.background]="configs.notification_text_color" /> Notification text color
                  </div>
                  <div>
                    <input [(colorPicker)]="configs.notification_link_color" [style.background]="configs.notification_link_color" /> Notification link color
                  </div>
                  <div>
                    <input [(colorPicker)]="configs.notification_footer_color" [style.background]="configs.notification_footer_color" /> Notification footer text color
                  </div>
                  <div>
                    <input [(colorPicker)]="configs.notification_border_color" [style.background]="configs.notification_border_color" /> Notification border color
                  </div>
                  <div>
                    <input [(colorPicker)]="configs.notification_close_color" [style.background]="configs.notification_close_color" /> Close icon color
                  </div>
                  <div>
                    <input type="number" min="0" max="40" [(ngModel)]="configs.notification_border_radius" name="notification_border_radius"
                    /> Notification border radius
                  </div>

                  <div>
                    <input type="number" min="0" max="40" [(ngModel)]="configs.notification_image_radius" name="notification_image_radius" /> Thumbnail border radius
                  </div>

                  <div>
                    Animate widget from
                    <select [(ngModel)]="configs.animate">
                      <option value="up">Up</option>
                      <option value="down">Down</option>
                      <option value="right">Left to right</option>
                      <option value="left">Right to left</option>
                    </select>
                  </div>

                  <button mat-raised-button class="btn btn-primary" (click)="updateApplicationCustomization()">Save changes</button>
                  <button mat-raised-button class="btn" (click)="resetToDefault()">Reset to default</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Settings">
              <div class="row">
                <div class="col-md-12 mr-auto">
                  <legend>Status is {{status?'active':'deactivated'}}</legend>
                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" [(ngModel)]="status" (change)="updateApplicationStatus()">
                      <span class="toggle"></span>
                      No notifications will be displayed if the application is deactivated
                    </label>
                  </div>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <legend>Widget start delay</legend>
                  <div class="togglebutton">
                      <mat-form-field hintLabel="Widget will appear after {{configs.start_delay}} milliseconds" class="example-full-width has-label">
                        <input type="number" matInput [(ngModel)]="configs.start_delay" (blur)="updateApplicationSettings()">
                      </mat-form-field>
                  </div>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <legend>Delay between two notifications</legend>
                  <div class="togglebutton">
                      <mat-form-field hintLabel="{{configs.roll_delay}} milliseconds delay between two notifications" class="example-full-width has-label">
                        <input type="number" matInput [(ngModel)]="configs.roll_delay" (blur)="updateApplicationSettings()">
                      </mat-form-field>
                  </div>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <legend>Notification display time</legend>
                  <div class="togglebutton">
                      <mat-form-field hintLabel="A notification will visible for {{configs.display_duration}} milliseconds" class="example-full-width has-label">
                        <input type="number" matInput [(ngModel)]="configs.display_duration" (blur)="updateApplicationSettings()">
                      </mat-form-field>
                  </div>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <legend>Widget position on websites</legend>
                  <mat-form-field hintLabel="Set notification widget position" class="example-full-width has-label">
                    <mat-select [disabled]="updatingSettings" [(ngModel)]="configs.position" (selectionChange)="updateApplicationSettings()">
                      <mat-option value="bottom-left">
                        Bottom Left
                      </mat-option>
                      <mat-option value="bottom-right">
                        Bottom Right
                      </mat-option>
                      <mat-option value="top-left">
                        Top Left
                      </mat-option>
                      <mat-option value="top-right">
                        Top Right
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <legend>Display on mobile devices</legend>
                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" [(ngModel)]="configs.show_on_mobile" (change)="updateApplicationSettings()">
                      <span class="toggle"></span>
                      {{configs.show_on_mobile?"Display":"Don't display"}} Koraki widget on mobile devices
                    </label>
                  </div>
                </div>

                <div class="divider" *ngIf="configs.show_on_mobile"></div>
                <div class="col-md-12 mr-auto" *ngIf="configs.show_on_mobile">
                  <legend>Widget position on mobile</legend>
                  <mat-form-field hintLabel="Set notification widget position when displaying on mobile" class="example-full-width has-label">

                    <mat-select [disabled]="updatingSettings" [(ngModel)]="configs.mobile_position" (selectionChange)="updateApplicationSettings()">
                      <mat-option value="bottom">
                        Bottom
                      </mat-option>
                      <mat-option value="top">
                        Top
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="divider"></div>
                <div class="col-md-12 mr-auto">
                  <a *ngIf="!paid" routerLink="/subscription/plans" class="upgrade-right">Upgrade to change</a>
                  <legend>Active notifications count</legend>
                  <mat-form-field hintLabel="Maximum active notification count before it repeats. Koraki will keep {{application.notificationMaximumActiveCount}} most recent notifications and archive the older ones."
                    class="example-full-width has-label">

                    <mat-select [disabled]="updatingSettings || !paid" [(ngModel)]="application.notificationMaximumActiveCount" (selectionChange)="updateApplicationSettings()">
                      <mat-option *ngFor="let c of possibleCounts" [value]="c">
                        {{ (c == 1000) ? "Unlimited" : c }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="divider"></div>

                <div class="col-md-12 mr-auto">
                  <a *ngIf="!paid" routerLink="/subscription/plans" class="upgrade-right">Upgrade to change</a>
                  <legend>Active notifications duration</legend>
                  <mat-form-field hintLabel="Lifetime of a notification before it expired. Koraki shows notifications created last {{application.notificationMaximumDurationDays}} days."
                    class="example-full-width has-label">

                    <mat-select [disabled]="updatingSettings || !paid" [(ngModel)]="application.notificationMaximumDurationDays" (selectionChange)="updateApplicationSettings()">
                      <mat-option *ngFor="let day of possibleDays" [value]="day">
                        {{ day }}
                      </mat-option>
                    </mat-select>
                    <span matSuffix> days</span>
                  </mat-form-field>

                </div>

                <div class="divider"></div>

                <div class="col-md-12">
                  <legend></legend>
                  <div class="togglebutton">
                    <label>
                      <a mat-raised-button class="btn btn-danger" href="#" onclick="return false" (click)="deleteApplication()">Delete Application</a>
                    </label>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Analytics">
              <app-analytics-view *ngIf="application.analyticsId" [analyticsid]="application.analyticsId" [analyticstoken]="application.analyticsToken"></app-analytics-view>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>