
.app-notify-count{
    position: absolute;
    top: 35px;
    right: 16px;
}

.card-title a i {
    color: #a0a0a0;
    font-size: 13px;
    margin-left: 6px;
    vertical-align: middle;
}

.card-footer div {
    width: 100%;
}

#preview{
    text-align: center;
}

.nav-pills .nav-item .nav-link{
    border-radius: 0.25rem;
}

.nav-pills.flex-column .nav-item + .nav-item{
    margin-top: 0px;
}

#session-count{
    background: linear-gradient(270deg, #ffffff, #f2f2f2);
    background-size: 400% 400%;
    position: relative;
    height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#session-count-bar{
    height: 100%;
    background-color: #2f91eb;
    background: linear-gradient(270deg, #50a7f7, #2f91eb);
    display: block;
    position: absolute;
    top: 0;
}

#session-count span{
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
}

#session-count a{
    margin-right:20px;
}

.customization-settings input{
    width: 60px;
    border: 1px solid #dee4ef;
    margin-right: 10px;
}

.customization-settings div{
    padding: 5px;
}

.mat-tab-body-wrapper{
    margin-top: 25px;
}

.mat-tab-body-content{
    overflow: hidden!important;
}
