.integration-images{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.integration-images img{
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline-block;
}

.integration-images div{
    font-size: 50px;
    line-height: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    color: #a0a0a0;
}

.disabled-integration .card-body{
    background-color: #fdfdfd;
    color: #a5a5a5;
}

.disabled-integration .card-title{
    color: #b7b7b7;
}

.app-notify-count{
    position: absolute;
    top: 15px;
    right: 16px;
}

.card-title a i {
    color: #a0a0a0;
    font-size: 13px;
    margin-left: 6px;
    vertical-align: middle;
}