.app-link > div{
    padding: 23px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-link i {
    font-size: 15px;
}

.app-link {
    cursor: pointer;
}