<p class="padding-top">Configure events sent to Koraki from this integration. Notification templates follow <a
    href="https://shopify.github.io/liquid/" target="_blank">liquid</a> syntax. Check this page for <a
    href="https://docs.koraki.io/project/getting-started/application-settings" target="_blank">learn more about
    templating</a></p>
<div class="card" *ngFor="let integration of integrationList;trackBy: trackByFn">
  <div class="card-header">

    <div class="togglebutton pull-right">
      <label>
        <input type="checkbox" [(ngModel)]="integration.enabled" (change)="updateIntegrationStatus(integration)">
        <span class="toggle"></span>
      </label>
    </div>
    <div class="pull-left" style="width: 28px;padding-right:3px;">
      <img src="assets/img/event.svg" />
    </div>
    <h4 class="card-title">{{integration.templateName}}</h4>
    <p class="card-subtitle mb-2 text-muted">{{integration.templateDescription}}</p>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-6 center">

        <mat-form-field appearance="outline" class="example-full-width">
          <div mwlTextInputHighlightContainer>
            <textarea matInput (ngModelChange)="updateElement(integration);integration.dirty = true;"
              [(ngModel)]="integration.templateContent" (change)="getRenderedTemplate(integration)" mwlTextInputElement
              #textarea>
            </textarea>
            <mwl-text-input-highlight [tags]="integration.tags" [textInputElement]="textarea">
            </mwl-text-input-highlight>
          </div>
        </mat-form-field>



      </div>
      <div class="col-md-6">
        <app-event-config-notification-preview [appId]="applicationId" [configs]="integration.configs">
        </app-event-config-notification-preview>
      </div>
    </div>

    <div>
      Available variables are
      <span class="variable-display" title="{{variable.description}} Sample: {{variable.sample}}"
        *ngFor="let variable of integration.variables;trackBy: trackByFn">{{'{{' + variable.variable + '}' + '}'}}</span>
      <a data-toggle="collapse" href="#collapseTable{{integration.templateCode}}" aria-expanded="false"
        aria-controls="collapseExample">
        Details of available variables
      </a>
      <div class="collapse" id="collapseTable{{integration.templateCode}}">
        <table class="table">
          <thead>
            <tr>
              <th>Variable</th>
              <th>Name</th>
              <th>Description</th>
              <th>Sample</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let variable of integration.variables">
              <td><span class="badge badge-primary">{{ '{{' + variable.variable + '}' + '}' }}</span></td>
              <td>{{variable.name}}</td>
              <td>{{variable.description}}</td>
              <td><i>{{variable.sample}}</i></td>
            </tr>
          </tbody>
        </table>

        <h6>Sample template</h6>
        <p>{{integration.templateDefaultContent}}</p>
      </div>
    </div>

    <div *ngIf="integration.dirty">
      <a href="#" class="btn pull-left" onclick="return false" (click)="reset(integration)">Reset</a>
      <a href="#" class="btn btn-primary pull-right" onclick="return false"
        (click)="updateTemplate(integration)">Update</a>
    </div>
  </div>
</div>