<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-10 col-sm-12 mr-auto ml-auto">
            <div class="card" data-color="orange">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Subscribe to a plan
                    </h3>
                    <h5 class="card-description">You won’t be charged if you cancel before your trial ends.</h5>
                </div>
                <div class="card-body">
<a routerLink="/subscription/add">create</a>
                </div>
            </div>
        </div>
    </div>
</div>