<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12 mr-auto ml-auto">
            <div class="card" data-color="orange">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Your subscription
                    </h3>
                    <h5 class="card-description" *ngIf="isFree">
                        Want to get more out of Koraki? Try
                        <a routerLink="/subscription/add">Personal plan</a>
                    </h5>
                    <h5 class="card-description" *ngIf="!isFree && isTier1">
                        Want to get more out of Koraki?
                        <a routerLink="/subscription/add">Upgrade</a>
                    </h5>
                </div>
                <div class="card-body" [ngClass]="{'loading':loading}">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-stats">
                                <div class="card-body row">
                                    <div class="col-md-2 col-sm-6 text-left">
                                        <img width="120px" class="vertical-middle" [src]="planIcon" style="display: none;" onload="this.style.display = 'block';"
                                        />
                                    </div>
                                    <div class="col-md-6 col-sm-6 text-left">
                                        <ul class="vertical-middle">
                                            <li *ngFor="let item of currentPlanFeatures" [ngClass]="{'no' : item.startsWith('!')}">{{item.replace('!', '')}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <p class="card-category" *ngIf="!isFree">Next billing date : {{nextBillingDate | amUtc | amDateFormat:'LL'}}</p>
                                        <h3 class="card-title">{{planHeader}}</h3>
                                        
                                        <a *ngIf="upgradeAvailable" class="btn btn-primary pull-right" routerLink="/subscription/add">Click here to upgrade</a>
                                        <a *ngIf="!isFree" href="#" class="btn btn-rose pull-right" (click)="cancelSubscription(subscriptionId)" onclick="return false;" >Cancel Subscription</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" data-color="orange" *ngIf="!hideStripePayments">
                <div class="card-body">
                    <a class="btn btn-primary" routerLink="/subscription/cards">Payment methods</a>
                    <a class="btn btn-primary" routerLink="/subscription/invoices">Invoices</a>
                </div>
            </div>
        </div>
    </div>
</div>