body{
background: #fcfcfc; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #fbfcff 0%, #fcfdff 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #fbfcff 0%,#fcfdff 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #fbfcff 0%,#fcfdff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcff', endColorstr='#fcfdff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app-notify-status{
    padding: 5px;
    border-radius: 6px;
    border: 1px #f18233 solid;
    color: #f18233;
}

.app-notify-status a{
    color: #f18233;
}

.app-notify-count{
    padding: 5px;
    border-radius: 6px;
    border: 1px #2fdea5 solid;
    color: #2fdea5;
}

.animal{
    background-image: url('../img/animals.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 164px;
    margin-right: auto; 
    margin-left: auto;
}

.animal1{
    background-position: -32px -29px;
}

.animal2{
    background-position: -323px -18px;
}

.animal3{
    background-position: -32px -195px;
}

.animal4{
    background-position: -323px -207px;
}

.animal5{
    background-position: -32px -389px;
}

.animal6{
    background-position: -323px -389px;
}

.divider{
    border-bottom: 1px #eee solid;
    padding-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    width: 100%;
}

.more-top-padding{
    padding-top: 30px;
}

.more-x2-top-padding{
    padding-top: 50px;
}

.loading::before { 
    content: "Loading";
    content: "Loading";
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.loading{
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(270deg, #ffffff, #fbfcfd);
    background-size: 400% 400%;
    -webkit-animation: loading-bg 14s ease infinite;
    -moz-animation: loading-bg 14s ease infinite;
    -o-animation: loading-bg 14s ease infinite;
    animation: loading-bg 14s ease infinite;
    min-height: 130px;
}

.loading *{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.loading-transparent{
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
    opacity: 0.2;
}

.integration-image{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 7px;
}

.logo-koraki{
    font-size: 12px!important;
    color: #a2a2a2!important;
}

@-webkit-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loading-bg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (max-width: 480px) {
    .main-content {
      padding-right: 5px!important;
      padding-left: 5px!important;
    }

    .container-fluid {
        padding-right: 0px!important;
        padding-left: 0px!important;
      }
  }

.nav-item.hl a{
    border: 1px solid #f29a33;
    border-radius: 5px!important;
    padding: 5px 8px!important;
}

.vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bc-item span{
    padding: 8px!important;
    line-height: 16px!important;
    height: 32px!important;
}

.bc-item::after { 
    content: "/";
    font-size: 18px;
    color: #eee;
  }

  .bc-item:last-child::after {
    display: none;
  }

  @media (max-width: 480px) {
    .bc-item:not(:last-child){
        display: none;
    }
}

.mat-select-value-text{
    font-size: 14px;
}

.mat-select-placeholder{
    font-size: 14px;
}

.upgrade-right{
    float: right;
    border: 1px solid #0091ea;
    border-radius: 3px;
    padding: 3px;
}

.login-footer ul li a:first{
    padding-left: 4px;
}

@media (max-width: 799px) {
    .text-center-sm{
        text-align: center!important;
    }

    .text-center-sm > ul{
        padding-left: 25px;
    }

    .text-center-sm > .copyright{
        margin-left: 16px;
    }
}

.salert a{
    background-color: rgba(0, 0, 0, 0.075);
    padding: 4px;
}

.integration-card{
    margin-top: 0px;
}

.integration-card > .card-header{
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}

.integration-card  .card-description{
    padding: 0px;
    font-size: 15px;
    color: #545454;
}

.integration-card .integration-image-wrapper{
    text-align: center;
}

.integration-card .integration-header-wrapper a {
    color: #676767;
    background-color: #e0e5eb;
    border-radius: 3px;
    padding: 2px;
}

.integration-item-card p {
    height: 90px;
    overflow: hidden;
}

.nav-app .material-icons.red {
    color:#e91e63;
}
.nav-app .material-icons.green {
    color:#4caf50;
}

.card-warning{
    background-color: #fff7f7;
    text-align: center;
    color: #c37c7c;
    margin-bottom: 10px;
}

.mat-tab-group{
    font-family: "Quicksand", sans-serif;
    line-height: normal;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Quicksand", sans-serif;
}

.navbar {
    background-color: unset;
    box-shadow: none; 
    border-bottom: 1px solid #eee;
}

.auth0-lock.auth0-lock.auth0-lock-opened-in-frame{
    border: 1px solid #dde6f4;
    border-radius: 4px;
    font-family: "Quicksand", sans-serif;
}