body{
background: #fcfcfc; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #fcfcfc 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #fcfcfc 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app-notify-status{
    padding: 5px;
    border-radius: 6px;
    border: 1px #f18233 solid;
    color: #f18233;
}

.app-notify-count{
    padding: 5px;
    border-radius: 6px;
    border: 1px #2fdea5 solid;
    color: #2fdea5;
}

.animal{
    background-image: url('../img/animals.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 164px;
    margin-right: auto; 
    margin-left: auto;
}

.animal1{
    background-position: -32px -29px;
}

.animal2{
    background-position: -323px -18px;
}

.animal3{
    background-position: -32px -195px;
}

.animal4{
    background-position: -323px -207px;
}

.animal5{
    background-position: -32px -389px;
}

.animal6{
    background-position: -323px -389px;
}

.divider{
    border-bottom: 1px #eee solid;
    padding-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    width: 100%;
}

.more-top-padding{
    padding-top: 30px;
}

.more-x2-top-padding{
    padding-top: 50px;
}

.loading::before { 
    content: "Loading";
    content: "Loading";
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.loading{
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(270deg, #ffffff, #f2f2f2);
    background-size: 400% 400%;
    -webkit-animation: loading-bg 14s ease infinite;
    -moz-animation: loading-bg 14s ease infinite;
    -o-animation: loading-bg 14s ease infinite;
    animation: loading-bg 14s ease infinite;
}

.loading *{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes loading-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loading-bg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}