<div class="table-responsive">
    <div class="card" *ngIf="invoices && invoices.length == 0">
      <div class="card-body text-center">
        <div class="animal animal4"></div>
        <h3>No invoices yet!</h3>
      </div>
    </div>
  <div class="table-responsive" *ngIf="invoices && invoices.length > 0">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Invoice number</th>
          <th>Billing date</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{invoice['id']}}</td>
          <td>{{invoice['billingDate'] | amUtc | amDateFormat:'LL'}}</td>
          <td>{{format(invoice['amount'])}}</td>
          <td>{{invoice['status']}}</td>
          <td>
            <a href="{{invoice['pdfUrl']}}" target="_blank">Download PDF</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>