.deactivated-card{
    background: linear-gradient(60deg, #fdfdfd, #efefef);
}

.app-stats{
    float: left;
    color: #0091eb;
    background-color: #ecf8ff;
    padding: 6px;
    border-radius: 3px;
    margin-top: 4px;
    line-height: 18px;
    font-size: 14px;
}