<div class="card card-stats">
  <div class="card-header card-header-icon" routerLink="/applications">
    <div class="card-icon">
      <i class="material-icons">apps</i>
    </div>
    <p class="card-category">Apps count</p>
    <h3 class="card-title">{{count!=-1?count:'-'}}</h3>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i onclick="return false;" *ngIf="maxAllowedApps <= count" class="material-icons text-danger">warning</i>
      <a onclick="return false;" href="#" *ngIf="maxAllowedApps <= count" (click)="subscribePage()">Upgrade to create more</a>
      <a onclick="return false;" href="#" *ngIf="0 == count" (click)="createApp()">Create your first application</a>
      <a *ngIf="maxAllowedApps > count">&nbsp;</a>
      <div class="refresh">
        <a href="#" onclick="return false;" (click)="load()"><i class="material-icons">refresh</i></a>
      </div>
    </div>
  </div>
</div>