.card{
    margin-bottom: 10px;
    margin-top: 10px;
}

.or{
    text-align: center;
    background-image: linear-gradient(#a7a7a7, #a7a7a7);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    padding-top: 8px;
}

.or div{
    background-color: #fff;
    height: 24px;
}

.add{
    text-align: center;
}

.card-header{
    padding-top: 6px;
    padding-bottom: 6px;
}