.card{
    min-height: 200px;
}

.stats label{
    padding-left:10px;
}

.cards:not(:first-child) .card{
    background: #f9f9f9;
}

.ic{
    font-size: 13px;
    color: #6fc300;
    vertical-align: middle;
    line-height: 0px;
}

.card-pricing .card-icon i{
    width: 100px;
    line-height: 100px;
    height: 100px;
}