:host ::ng-deep .auth0-lock.auth0-lock .auth0-lock-header{
    display: none
}

:host ::ng-deep .auth0-lock.auth0-lock .auth0-lock-header-avatar{
    display: none
}

.card-header a{
    padding-bottom: 0;
}

#hiw-login-container {
    margin-bottom: 20px;
}