<div class="main-content">
  <div class="container-fluid">

    <div class="col-md-8 mr-auto ml-auto">


      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">
            Privy Integration
          </h3>
          <div class="text-center">
            <img src="assets/img/integrations/privy.png" class="integration-image" />
          </div>
          <h5 class="card-description">Privy</h5>

        </div>
        <mat-divider></mat-divider>
        <div class="card-body" [ngClass]="{'loading':loading}">

          <p>
            <mat-form-field appearance="outline" hintLabel="Copy and Paste this URL on your Privy webhook" class="example-full-width">
              <textarea readonly rows=3 matInput>{{webhook}}</textarea>
            </mat-form-field>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>