<div class="container-fluid">
  <div class="col-md-12 mr-auto ml-auto">
    <div class="card integration-card">
      <div class="card-header card">
        <div class="row">
          <div class="col-md-2">
            <div class="integration-image-wrapper">
              <img src="assets/img/integrations/mailchimp.png" class="integration-image" />
            </div>
          </div>
          <div class="col-md-10">
            <div class="integration-header-wrapper">
              <h3 class="card-title">
                MailChimp
              </h3>
              <h5>Email subscriptions</h5>
              <h5 class="card-description">This integration can create notifications when subscriber is added to your list. Koraki will create a webhook on your MailChimp account so we get subscriber activities.</h5>
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="card-body" [ngClass]="{'loading':loading}">
        <div *ngIf="mcLoggedIn">
          <mat-form-field>
            <mat-select placeholder="Select your MailChimp email list" [(ngModel)]="list">
              <mat-option *ngFor="let p of lists" [value]="p">
                {{p.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="list">
            <div class="divider"></div>
            <div class="fb-page-d">
              <div>
                <h4>{{list.name}}</h4>
                <a href="#" mat-raised-button class="btn btn-warning" onclick="return false" (click)="subscribe()">
                  Subscribe for notifications
                </a>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="!mcLoggedIn && !integrations['mailchimp']">
          <p>
            First you need to allow Koraki to read your subscribers list.
          </p>
          <div class="divider"></div>

          <a href="#" mat-raised-button class="btn btn-warning" onclick="return false" (click)="login()">
            Connect
          </a>
        </div>

        <div *ngIf="integrations['mailchimp']">
          <p>
            Koraki is connected to MailChimp list
            <a [href]="convertUrl(configurations['mc_dc_url']) + '/lists/dashboard/overview?id=' + configurations['mc_web_id']"
              target="_blank">{{configurations['mc_web_id']}}</a>
          </p>
          <div class="divider"></div>

          <a href="#" mat-raised-button class="btn btn-default" onclick="return false" (click)="disconnect()">
            <i class="fa"></i> Disconnect
          </a>
        </div>
      </div>

      <div class="card-body" *ngIf="integrations['mailchimp']" [ngClass]="{'loading':loading}">
        <mat-tab-group disableRipple="true" color="primary" class="md-no-animation" [@.disabled]="true"
          dynamicHeight="true">
          <mat-tab label="Events">
            <app-event-config-view code="mailchimp" [applicationId]="appId"></app-event-config-view>
          </mat-tab>
          <mat-tab label="Rules">
            <app-rule-config-view code="mailchimp" [applicationId]="appId"></app-rule-config-view>
          </mat-tab>
          <mat-tab label="Help">
            <app-wp-content-render slug="content-integration-mailchimp"></app-wp-content-render>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>