<div class="wrapper wrapper-full-page">
  <div class="page-header header-filter" filter-color="black">
    <div class="container">
      <router-outlet></router-outlet>
      <footer class="footer offset-md-1 col-md-10 login-footer" style="position: relative; color: #676767;">
        <div class="container row" style="padding-right: 0px;padding-left: 0px;">
          <nav class="col-md-6 text-left text-center-sm">
            <ul>
              <li>
                <a href="https://app.koraki.io">
                  koraki.io
                </a>
              </li>
              <li>
                <a href="https://koraki.io/about-us">
                  About Us
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright col-md-6 text-right text-center-sm">
            {{test | date: 'yyyy'}}, proudly made in <i class="material-icons">favorite</i> Sri Lanka by
            <a href="https://koraki.io" target="_blank">Koraki.io</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>