<footer class="footer ">
  <div class="container row">
    <nav class="col-md-6 text-left text-center-sm">
      <ul>
        <li>
          <a target="_blank" href="https://app.koraki.io">
            koraki.io
          </a>
        </li>
        <li>
          <a target="_blank" href="https://koraki.io/privacy-policy/">
            Privacy Policy
          </a>
        </li>
        <li>
          <a target="_blank" href="https://koraki.io/terms-conditions/">
            Terms and Conditions
          </a>
        </li>
      </ul>
    </nav>
    <div class="col-md-6 copyright pull-right">
      &copy;
      {{date | date: 'yyyy'}}, proudly made in <i class="material-icons">favorite</i> Sri Lanka by
      <a href="https://koraki.io" target="_blank">Koraki.io</a> version {{version}}
    </div>
  </div>
</footer>