.new-app{
    padding: 5px; 
    background-color: #f7f7f7;
    cursor: pointer;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

.new-app:hover{
    background-color: #aaa;
    background-color: #f29833;
    color: #fff;
}

.new-app:hover:after{
    content: attr(data-hover);
}

.new-app:after{
    content: "+"
}